<%- include("./partials/header") -%>
<h1>HOME</h1>

<p><%= homeStart %></p>



<% posts.forEach(function(post) { %>
    <hr>
    <h3 class="title"><%=post.title%></h3>
    <h4 class="date"><%=post.date%></h4>
    <p><%=post.body.substring(0, 100) + '... '%><a href="/posts/<%=post.title%>">Read more</a></p>
<% }) %>


<%- include("./partials/footer") -%>